.DS_Store

bin
lib/
include/
env/
outpy.avi
storage.json
data.json
obdet.avi
temp_result.png
KC1-frames/
KC10-frames/
KC2-frames/
KC3-frames/
KC4-frames/
KC5-frames/
KC6-frames/
KC7-frames/
KC8-frames/
KC9-frames/
acts_locations/
widgets/sampel video/
RCR1-frames/
RCR2-frames/
RCR3-frames/
RCR4-frames/
RCR5-frames/
frames.avi